// colors
$primary-color:         #4353ff; //#006400
// $primary-color:         #006400;
$darkgray-color:        #707070;
$lightgray-color:       #f1f1f1;
$my-white-color:        #ffffff;
$my-black-color:        #000000;
